.block-feature {
  text-align: center;
  margin-bottom: 2.5rem;

  img {
    margin-bottom: 2rem;
  }

  .block-title {
    color: #0e2232;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    color: #003333;
    font-size: 1rem;
  }
}
