#page-brochures {

  .page-content {

    .block-brochures {
      background-color: #003333;
      padding-top: 7.25rem;
      padding-bottom: 7.25rem;

      @media screen and (min-width: 600px) and (max-width: 1200px) {
        padding: 4rem 2rem;
      }

      @media screen and (max-width: 600px) {
        padding: 4rem 2rem 0;
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}
