#page-exhibit {

  .section-02, .section-03 {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .section-header {
      position: relative;
      text-align: center;
      margin-bottom: 6.25rem;
      z-index: 1000;

      .section-title {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: unset;

        @media screen and (max-width: 600px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .section-01 {
    background-color: #003333;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section-02 {

    .section-header {

      .section-title {
        color: #ffaa38;
      }
    }
  }

  .section-03 {

    .section-header {

      .section-title {
        color: #003333;
      }
    }

    .section-content {
      text-align: center;

      .text {
        color: #ffffff;
        font-size: 1.125rem;
        margin-bottom: 3.25rem;
      }

      .subscribe-link {
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 2rem;
        padding: 0.875rem 1.5rem;
      }
    }
  }
}
