#page-index {

  .section-01, .section-02, .section-04, .section-05, .section-07, .section-08 {
    background-color: #4e8d8d;
  }

  .section-06, .section-09 {
    background-color: #003333;
  }

  .section-01, .section-02 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section-03, .section-04, .section-05, .section-06, .section-07, .section-08, .section-09 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section-03, .section-05, .section-06, .section-08, .section-09 {

    .section-header {
      position: relative;
      text-align: center;
      margin-bottom: 6.25rem;
      z-index: 1000;

      .section-title {
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: unset;

        @media screen and (max-width: 600px) {
          font-size: 2.5rem;
        }
      }
    }
  }

  .section-03, .section-06 {

    .section-header {

      .section-title {
        color: #ffffff;
      }
    }
  }

  .section-05, .section-08, .section-09 {

    .section-header {

      .section-title {
        color: #ffaa38;
      }
    }
  }

  .section-01 {

    .slick {

      .slide {
        position: relative;
        background-image: url('../images/page-index/im-01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 50%;

        @media screen and (max-width: 1200px) {
          padding-top: 0;
        }

        .slide-content {
          position: absolute;
          bottom: 0;
          background-color: rgba(#ffffff, 0.75);
          padding: 3rem 2rem;

          @media screen and (max-width: 1200px) {
            position: relative;
            padding: 2rem;
            margin-top: 15rem;
          }

          .slide-title {
            color: #0f5831;
            font-size: 2.5rem;

            @media screen and (max-width: 1200px) {
              margin-bottom: 1rem;
            }

            span {
              display: inline-block;
              color: #ffffff;
              background-color: #fbaa3c;
              font-weight: 700;
              text-transform: uppercase;
              padding: 0.125rem 1rem;
            }
          }

          p {
            color: #555555;
            font-size: 0.875rem;

            @media screen and (min-width: 600px) {
              margin-bottom: unset;
            }
          }
        }
      }
    }
  }

  .section-02 {

    .section-footer {
      padding-top: 2.5rem;

      @media screen and (max-width: 1200px) {
        padding-bottom: 2.5rem;
      }

      .note {
        color: #ffffff;
        font-size: 1.125rem;
        text-align: center;
      }
    }
  }

  .section-03 {
    position: relative;
    background-color: #ffa938;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      padding-bottom: 24rem;
    }

    .section-content {
      position: relative;
      z-index: 1000;
    }

    .deco-01 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 48rem;
      height: auto;

      @media screen and (min-width: 600px) and (max-width: 1200px) {
        width: 30rem;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .section-04 {

  }

  .section-05 {
    position: relative;
    padding-bottom: 24rem;
    overflow: hidden;

    @media screen and (min-width: 600px) and (max-width: 1200px) {
      padding-bottom: 26.5rem;
    }

    .section-content {

      .slick {

        .block-news {
          margin-left: 0.5rem;
          margin-right: 0.5rem;

          &:focus {
            outline: unset;
          }
        }
      }
    }

    .deco-01 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 48rem;
      height: auto;

      @media screen and (min-width: 600px) and (max-width: 1200px) {
        width: 30rem;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .section-06 {

    .section-content {

      .slick {

        &.slick-dotted.slick-slider {
          margin-bottom: 5rem;
        }

        .slick-dots {
          bottom: -4.5rem;
        }

        .slide {
          text-align: center;
          padding-left: 3rem;
          padding-right: 3rem;

          &:focus {
            outline: unset;
          }

          img {
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5rem;
          }

          .block-title {
            color: #ffffff;
            font-size: 1.375rem;
          }

          .subtitle {
            color: #fbaa3c;
            font-size: 1rem;
            margin-bottom: 1.75rem;
          }

          p {
            color: #ffffff;
            font-size: 1rem;
            margin-bottom: unset;
          }
        }
      }
    }
  }

  .section-07 {

  }

  .section-08 {
    position: relative;
    padding-bottom: 24rem;

    @media screen and (min-width: 600px) and (max-width: 1200px) {
      padding-bottom: 17rem;
    }

    @media screen and (max-width: 600px) {
      padding-bottom: 10rem;
    }

    .section-content {

      .slick {

      }
    }

    .deco-01 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

  .section-09 {

    .section-header {
      margin-bottom: 2.5rem;

      h3 {
        color: #ffaa38;
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: unset;

        @media screen and (max-width: 600px) {
          font-size: 2rem;
        }
      }
    }

    .section-content {

      .form-control {
        height: auto;
        font-size: 0.75rem;
        text-transform: uppercase;
        border-radius: unset;
        padding: 0.75rem 1.25rem;

        @media screen and (max-width: 1200px) {
          margin-bottom: 1rem;
        }
      }

      .btn-sin {
        font-size: 0.75rem;
        text-transform: uppercase;
        border-radius: 2rem;
        padding: 0.75rem 1.25rem;
      }
    }

    .section-footer {
      width: 10rem;
      height: 0.25rem;
      background-color: #ffaa38;
      margin: 5rem auto;
    }
  }
}
